<h1>Course Listing</h1>

<ul>
  <li>Code: CS 111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: This is course description</li>
</ul>

<ul>
  <li>Code: CS 112</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: This is course description</li>
</ul>
